<a class="fancybox" 
	  rel="group"
 	    title="<b> @<%= photo.get("user").username%> -</b> <%=$ .timeago(new Date(photo.get("created_time") * 1000))%>
 	    <% if(photo.get("location").name) { %>
 	    	at <%= photo.get("location").name%>
 	    <% } %>
 	  <% if(photo.get("caption")) { %>
				:<br><%= photo.get("caption").text %>
	  <% }  %>
	  "href="<%= photo.get("images").standard_resolution.url %>" >
	   <img src="<%= photo.get("images").thumbnail.url %>" alt="" />
	</a>
